.detail_wrapper {
    margin-top:40px;
}

@media (min-width: 760px) {
.detail_wrapper .featured-image {
    max-width: 700px;
}
}

.detail_wrapper .featured-image {
	width: 100%;
}

.detail_wrapper .featured-image img {
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
.detail_wrapper .detail-description {
    width: calc(100% - 700px);
}
}

.detail_wrapper .detail-description {
    position: relative;
}

@media screen and (min-width: 768px) {
.detail_wrapper .detail-description-container {
    position: absolute;
    z-index: 99;
    top: 100px;
    left: -75px;
    width: calc(100% + 75px);
}
}

@media screen and (min-width: 768px){
.detail_wrapper:nth-of-type(even) .detail-description-container {
    right: -75px;
    left: auto;
}
}

.detail_wrapper .detail-description-container {
	position: relative;
	padding: 30px;
	background: hsl(0, 0%, 100%);
	box-shadow: 50px 40px 115px rgba(0, 0, 0, 0.1);
}

.detail_wrapper .entry-title {
    font-size: 30px;
    font-weight: 600;
    color: hsl(0, 0%, 9%);
}

.detail_wrapper .entry-content {
    margin-top: 20px;
    font-size: 15px;
    color: hsl(0, 0%, 60%);
    line-height: 2;
}

.detail_wrapper .box-link {
    position: absolute;
    margin: 0;
    padding: 0;
    top: -24px;
    right: 50px;
    z-index: 999;
}

.image_block_1 {
    display:none;
}

@media (max-width: 768px) {
.image_block_1 {
    display: block!important;
}
.image_block_2 {
    display:none!important;
}
}

@media (min-width: 768px) {
.image_block_1 {
    display: none!important;
}
.image_block_2 {
    display:block!important;
}
}
