.footer{
	margin-top:40px;
	background-color: black;
	text-align: center;
	padding: 60px 0;
	min-height:100px;
	border-top: 2px solid #969696;
}

.footer p{
	font-size: 12px;
	color: #969696;
	margin-bottom: 0;
}

.footer a{
	text-decoration: none;
	color: #969696;
}

.footer a:hover{
	color: #12e8e0;
}

.footer li {
	list-style:none;
}

.footer_logo_container {
	margin:30px 0;
}

.footer-logo {
	display: block;
	position: relative;
	width: 124px;
	height: 66px;
	margin: 0 auto;
}

.footer_link_container {
	margin-bottom: 20px;
}

.footer_link:nth-child(n+2):before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 15px;
    pointer-events: none;
}

.footer_link{
	display:inline-block;
	font-size:16px;
}