.navbar {
	position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    background-color:#cbcac7;
    width: 100%;
    overflow-x: hidden;
    z-index: 1000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.navbar-inverse {
    background-color:#cbcac7;
}
